.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../pictures/shop/shopItemBackground.jpg');
    margin-top: 10px;
    border-style:solid;
    border-color: black;
  }
  
  .flex-container > div {
    margin: 10px;
    font-size: 30px;
  }

  p{
      font-size: small;
  }

  div#photo{
    padding-top: 10px;
  }

  div#name{
    padding-top: 30px;
    min-width: 75px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-style:solid;
    border-color: white;
    color: white;
    background-color: #00000066;
  }

  div#type{
    padding-top: 15px;
    min-width: 125px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-style:solid;
    border-color: white;
    color: white;
    background-color: #00000066;
  }

  div#info{
    min-width: 135px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-style:solid;
    border-color: white;
    color: white;
    background-color: #00000066;
  }